.serviceLi.active .icon,
.serviceLi.active h4{
  color: white !important;
}

.serviceLi{
  border: solid 1px rgb(218, 218, 218);
  border-radius: 4px;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  -webkit-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.service {
	text-align: center;
  padding:0 18px;
}

.service .icon {
	font-size: 32px;
	color: #32a3c7;
  /*color: #1e5a83;*/
}

.service h4 {
	text-transform: uppercase;
}

.serviceLi.active{
    background: #33a3c7 !important;
  }

  .serviceLi p{
    color: rgb(97,97,97);
  }

  .serviceLi.active p{
    color: white;
  }

  .serviceLi a{
    height: 100%;
  }


@media only screen and (max-width : 767px) {

  .serviceLi{
    margin-bottom: 0px;
    min-height: 54px;
  }

  .serviceLi h4{
    text-align: right;
    padding-top: 10px;
    font-size: 20px;
    padding-right: 7px;
  }


  .serviceLi#tab1{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }

  .serviceLi#tab2,
  .serviceLi#tab3{
    border-radius: 0px;
  }

  .serviceLi#tab4{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
  }

  .serviceLi .text p{
    text-align: right;
  }

  .serviceLi i.fa{
    float:left;
    margin-top: 4px;
  }

  .serviceLi i.fa-home{
    margin-left: 3px;
  }

  .serviceLi i.fa-bolt{
    margin-left: 8px;
  }

}



@media only screen and (max-width : 480px) {
    .serviceLi{
      margin-bottom:0px;
    }
}



@media only screen and (max-width : 580px) {
  .serviceLi .text{
    display: none;
  }
}
